* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0) 10%, transparent),
    url("https://unibasq.org/wp-content/uploads/2020/08/freedom-day-e1572604258870-1140x700.jpg") left 10% bottom 70%/cover no-repeat border-box, #da9ca3;
    /* background-image: url("https://unibasq.org/wp-content/uploads/2020/08/freedom-day-e1572604258870-1140x700.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box; 
    background-image: linear-gradient(180deg, color); 
    background-image: radial-gradient(circle 20px left 50%, red, green); */
    width: 100vw;
    height: 40vh;
    padding: 1rem;
    margin-top: 3rem;
    position: relative;
    /* border: 5px dashed red; */

}

.section-title {
    color: #7c979d;
    text-align: center;
}

#product-overview h1{
    color: #bcc5c4;
    font-family: 'Anton', sans-serif;
    position: absolute;
    top: 0;
    left: 3%;
}   

.plan_list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background-color: #a3cad3;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    border-radius: 0.5rem;
}

.plan_highlighted {
    background: #5c919c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan_annotation {
    background-color: white;
    color: #5c919c;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plan_title {
    color: #2b2b2b;
}

.plan_price {
    color: #3e4b48;
}

.plan_highlighted .plan_title {
    color: white;
}

.plan_highlighted .plan_price {
    color: #2b2b2b;
}

.plan_features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan_feature {
    margin: 8px 0px;
}

#key_features {
    background-color: #da9ca3;
    margin-top: 5rem;
    padding: 2.5rem;
}

#key_features .section-title {
    color: white;
    margin: 3rem;
}

.key-features_list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

.key-feature_image {
    background-color: #ccbdbf;
    width: 8rem;
    height: 8rem;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 1.5rem;
}

.key_feature_description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
}

/* h1 {
    font-family: sans-serif;
} */

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }