
.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(40%);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.main-packages {                
    list-style: none;
    margin: 1rem;
    padding: 1.5rem;
    color: black;
    width: 65%;
    border: 5px #48585c solid;
    position: relative;
}

.main-packages:hover ,
.main-packages:active {
    color: #da9ca3;
    border: 5px solid #da9ca3;
}

.main-package_badge {
    position: absolute;
    top: 1rem;
    margin: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: white;
    background-color: #da9ca3;
    padding: 0.5rem;
}

.main-packages-1 {
    background-color: #a3cad3;
}

.main-packages-2 {
    background-color: #c3d7db;
    float: right; 
    text-align: right;
}

.clearfix {
    clear: both;
}

.main-packages-3 {
    background-color: #759299;
}

.main-packages a {
    color: black;
    text-decoration: none;
    border-style: solid;
    border: #495b5f;
}

.main-packages a:hover,
.main-packages a:active {
    color: black;
    text-decoration: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-package_h2 {
    color: #555353;
}

.main-package_p {
    background-color: white;
    border: black solid;
    margin: 0;
    padding: 1rem;
    font-weight: normal;
    color: #526569;
}

